.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn__burger {
    background: #fff;
    width: 50px;
    height: 6px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,7,.2);
    transition: all .5s ease-in-out;
}

.menu-btn__burgerBefore,
.menu-btn__burgerAfter {
    content: '';
    position: absolute;
    background: #fff;
    width: 50px;
    height: 6px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,7,.2);
    transition: all .5s ease-in-out;
}
.menu-btn__burgerBefore {
    transform: translateY(-16px);
}
.menu-btn__burgerAfter {
    transform: translateY(16px);
}

/* Animation */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent!important;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burgerBefore {
    transform: rotate(45deg);
}
.menu-btn.open .menu-btn__burgerAfter {
    transform: rotate(-45deg);
}

