@media only screen and (min-width: 1280px) {
    /* For wide screens: xl*/

}

@media only screen and (min-width: 992px) and (max-width: 1279px) {
    /* For desktop: lg*/

}

@media only screen and (min-width: 576px) and (max-width: 992px) {
    /* For tablets: md */
    .strip{
        height: 14vh!important;
    }
}

@media only screen and (min-width: 260px) and (max-width: 576px) {
    /* For mobile: sm*/
    .typing h1{
        font-size: 30px!important;
    }
    .strip{
        height: 14vh!important;
    }
    .modal li, .modal a {
        padding: 10% 0!important;
    }
    .open-legal{
        display: block!important;
        left: 5%!important;
        width: 80%!important;
        height: 60%!important;
    }
}

@media only screen and (max-width: 259px) {
    /* For watch: */
}