body{
    margin: 0;
    padding: 0;
    font-family: gothic, serif;
    background-color: #2b58e0;
    color: white;

}
.typing {
    height: 100vh;
    display: flex;
    /* Remove horizontal 'justify-content' center if you want the base text not to move */
    justify-content: center;
    align-items: center;
    color: black;
}

.typing h1{
    font-size: 60px;
    padding-bottom: 60px;
}


/* ADD CURSOR */

.txt-type>.txt {
    border-right: 0.08rem solid #fff;
    padding-right: 2px;
    color: white;
    /* Animating the cursor */
    animation: blink 0.6s infinite;
}


/* ANIMATION */

@keyframes blink {
    0% {
        border-right: 0.08rem solid rgba(255, 255, 255, 1);
    }
    100% {
        border-right: 0.08rem solid rgba(255, 255, 255, 0.2);
    }
}

.strip {
    position: fixed;
    width: 100%;
    z-index: 250;
}

header {
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

header li {
    list-style-type: none;
    margin-right: 0;
    font-size: 24px;
    font-weight: bold;
}


/* Border Hover */

.nav {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.nav * {
    box-sizing: border-box;
    transition: all .35s ease;
}

.nav li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
}

.nav a {
    padding: .5em .8em;
    color: white;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.nav a::before,
.nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #3E32ED;
    border-right: 3px solid #3E32ED;
    transform: translate(-100%, 50%);
}

.nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #3E32ED;
    border-left: 3px solid #3E32ED;
    transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
}

.nav a:hover {
    color: #3E32ED!important;
}

.changeColor{
    color: black !important;
}

section h1, p, h2{
    text-align: center;
}

.agence, .service, .choisir, .form{
    transform-origin: left;
    transform: skew(0,-2deg);
    padding: 40px 0;
}

.agence{
    background-color: #2521f0;
    padding: 75px 0;
}

.service{
    background-color: #2b58e0;
}

.choisir{
    background-color: #2521f0;
}

.form{
    background-color: #2b58e0;
}


.inner{
    transform: skew(0,2deg);
}


svg{
    width: 50px;
}

.list{
    list-style-type: none;
    display: flex;
    text-align: center;
    padding-top: 30px;
}

.list li{
    font-weight: bold;
    font-size: 22px;
}

hr{
    width: 40%;
    border-color: black;
}

.footerList{
    list-style-type: none;
    text-align: center;
}

.footerList a{
    color: black;
}

.footerList span{
    font-weight: bold;
    font-size: 26px;
}

footer{
    background-color: white;
}

#strip{
    height: 10vh;
}

.form h2{
    text-align: left;
}

.form input, textarea{
    border: none;
    border-radius: 6px;
}

button{
    Border : 1px solid white;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2b58e0;
    color: white;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: darkblue;
}