body{
    margin: 0;
    padding: 0;
    font-family: gothic, serif;
}
.typing {
    height: 75vh;
    display: flex;
    /* Remove horizontal 'justify-content' center if you want the base text not to move */
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

.typing h1{
    font-size: 60px;
}


/* ADD CURSOR */

.txt-type>.txt {
    border-right: 0.08rem solid #fff;
    padding-right: 2px;
    color: white;
    /* Animating the cursor */
    animation: blink 0.6s infinite;
}


/* ANIMATION */

@keyframes blink {
    0% {
        border-right: 0.08rem solid rgba(255, 255, 255, 1);
    }
    100% {
        border-right: 0.08rem solid rgba(255, 255, 255, 0.2);
    }
}

.bande {
    height: 25vh;
}

header {
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header li {
    list-style-type: none;
    margin-right: 0;
    font-size: 24px;
    font-weight: bold;
}

ul a{
    color: black;
}

ul a:hover{
    color:black;
}


#canvas {
    position: absolute;
    display: block;
    z-index: 10;
}

/* Border Hover */

.nav {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.nav * {
    box-sizing: border-box;
    transition: all .35s ease;
}

.nav li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
}

.nav a {
    padding: .5em .8em;
    color: white;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.nav a::before,
.nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #3E8914;
    border-right: 3px solid #2E640F;
    transform: translate(-100%, 50%);
}

.nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #2E640F;
    border-left: 3px solid #3E8914;
    transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
}

.nav a:hover {
    color: #3DA35D;
}