body{
    margin: 0;
    padding: 0;
    font-family: gothic, serif;
    background-color: #121799;
    color: white;

}

h2, h3{
    color: #ed5e62;
    font-family: politica-bold, serif;
}

p{
    font-family: pillGothic, serif;
    font-size: 22px;
}

.typing {
    height: 100vh;
    display: flex;
    /* Remove horizontal 'justify-content' center if you want the base text not to move */
    justify-content: center;
    align-items: center;
    color: black;
}

.typing h1{
    font-size: 60px;
    padding-bottom: 60px;
}


/* ADD CURSOR */

.txt-type>.txt {
    border-right: 0.08rem solid #fff;
    padding-right: 2px;
    color: #ed5e62;
    /* Animating the cursor */
    animation: blink 0.6s infinite;
}


/* ANIMATION */

@keyframes blink {
    0% {
        border-right: 0.08rem solid rgba(255, 255, 255, 1);
    }
    100% {
        border-right: 0.08rem solid rgba(255, 255, 255, 0.2);
    }
}

.strip {
    position: fixed;
    width: 100%;
    z-index: 250;
    font-family: pillGothic, serif;
}

header {
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

header li {
    list-style-type: none;
    margin-right: 0;
    font-size: 24px;
    font-weight: bold;
}


/* Border Hover */

.nav{
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.nav * {
    box-sizing: border-box;
    transition: all .35s ease;
}

.nav li{
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
}

.nav a{
    padding: .5em .8em;
    color: white;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.nav a::before,
.nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #ed5e62;
    border-right: 3px solid #ed5e62;
    transform: translate(-100%, 50%);
}

.nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #ed5e62;
    border-left: 3px solid #ed5e62;
    transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
}

.nav a:hover {
    color: #ed5e62!important;
}

.changeColor{
    color: black !important;
}

h1, p, h2, h3{
    text-align: center;
}

.agence, .service, .choisir, .form{
    transform-origin: left;
    transform: skew(0,-2deg);
    padding: 40px 0;
}

.agence{
    background-color: #07093a;
    padding: 75px 0;
}

.service{
    background-color: #121799;
}

.choisir{
    background-color: #07093a;
}

.form{
    background-color: #121799;
}


.inner{
    transform: skew(0,2deg);
}


svg{
    width: 50px;
}

.list{
    list-style-type: none;
    display: flex;
    text-align: center;
    padding-top: 30px;
}

.list li{
    font-weight: bold;
    font-size: 22px;
}

section hr{
    width: 40%;
    border-color: #FFFFFF;
}

.footerList{
    list-style-type: none;
    text-align: center;
}

.footerList a{
    color: black;
}

.footerList span{
    font-weight: bold;
    font-size: 26px;
}

footer{
    background-color: white;
    height: 100vh;
}

#strip{
    height: 12vh;
}

.form h2, .form h3{
    text-align: left;
    margin-left: 50px;
}
.form h3{
    color: #FFFFFF;
}

.form input, textarea{
    border: none;
    border-radius: 6px;
}

button{
    Border : 2px solid #ed5e62;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #121799;
    color: #ed5e62;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: darkblue;
}

/*MODAL*/
.modal{
    text-align: center;
    position: fixed;
    left: 30%;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease-out;
    width: 80%;
    background-color: #2521f0;
    padding-top: 10%;
}

.open-modal{
    visibility: visible;
    opacity: 1;
    z-index: 500;
}

.modal li, .modal a{
    padding: 15% 30%;
    color: #FFFFFF;
}

.modal a:hover{
    color: #ed5e62;
    text-decoration: none;
}

.legal:hover{
    cursor: pointer;
}
.legal{
    color: black;
}

.open-legal{
    display: block!important;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: blue;
    border: 3px solid black;
    border-radius: 8px;
}

.footerList a:hover, .footerList li:hover{
    color: #ed5e62;
}

.form p{
    padding-left: 20px;
    margin-bottom: -15px;
    margin-top: 10px;
}

.logo{
    width: 110%;
}