<h1>Votre demande de contact</h1>
<img src="{{ asset('img/logoBlack.png') }}" alt="Logo de VAMweb">
<p>Bonjour, nous avons bien reçu votre demande de contact et nous reviendrons vers vous dans les plus brefs délais.
    Cordialement</p>

